body, html {
    width: 100%;
    height: 70%;
    margin:0;
    
    
  }
  
  .container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    
  }

.leftpane {
    display:flex;
    width: 60%;
    height:140%;
    background-color:yellow;
    border: 1px solid black;
    float: left;

}
.rightpane{

    border: 1px solid black;
    height:140%;
    width:25%;
    background-color: #ECECFB;
    display:flex;
}

.toppane {
  width: 85%;
  height:50%;
  border: 1px solid black;
  background-color: #ff9999;
  
}

#text{
    font-size:50px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    text-indent:40px;

}
#text2{
    text-indent:30px;
    text-align:center;
    margin-top: 10px;
    font: size 30px;
    display: inline-block;
}

#text3{
  margin: 0;
  position: absolute;
  top: 80%;
  left:65%;
  font-size:20px;
  width:20%;
  
      
}
#text4{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 65%;
  font-size:40px;
}
